<!DOCTYPE html>
<html>
<head>
  <title>Ribbit</title>
  <link rel="stylesheet/less" href="/assets/stylesheets/style.less" />
  <script src="/assets/javascripts/less.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="wrapper">
      <img src="/assets/images/gfx/logo.png" />
      <span>Twitter Clone</span>
    </div>
  </header>
  <div id="content">  
    <div class="wrapper">
      <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "flash #{name}" %>
      <% end %>
      <%= yield %>
  </div>
  <footer>
    <div class="wrapper">
        Ribbit - A Twitter Clone Tutorial<img src="/assets/images/gfx/logo-nettuts.png" />
    </div>
  </footer>
</body>
</html>
